@tailwind base;
@tailwind components;
@tailwind utilities;
.error {
    color: red;
    font-size: 0.875rem;
}



.custom-dropdown {
    z-index: 1500; /* or any value that ensures it's above other elements */
}